body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;

}
.main{
  display: flex;
  overflow: unset;
  
  
}
.hi{
  background-color: blueviolet;
  
  
}

header {
  text-align: center;
  size: 110%;
  background-color: aqua;
  text-align: center;
  justify-content: center;
}

footer {
  background-color: #303434;
  text-align: center;
  
}
#sidebar {
  color: #ccc;
  margin: 20px;
  padding: 40px;
  position: fixed;

}
.Social{
  list-style-type: none;
}
.NavList {
  list-style-type: none;
background-color: aquamarine;
  flex-direction: row;
}